<div class="d-flex flex-column flex-shrink-0 p-3 vh-100 sidebar">
  <a
    href="/timeline"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none"
  >
    <span class="sidebar-title">AppSign</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto sidebar-links">
    <li class="nav-item">
      <a href="/timeline" class="nav-link" aria-current="page">Timeline</a>
    </li>
    <li>
      <a href="/new-post" class="nav-link">New Post</a>
    </li>
    <li>
      <a href="/explore" class="nav-link">Explore</a>
    </li>
    <li>
      <a href="/notifications" class="nav-link">Notifications</a>
    </li>
  </ul>
  <hr />
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center text-decoration-none dropdown-toggle"
      style="color:#2D5C6D"
      id="dropdownUser2"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="{{currentUser.image}}"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong style="color:#2D5C6D">{{currentUser.firstName}}</strong>
    </a>
    <ul
      class="dropdown-menu text-small shadow sidebar-links"
      aria-labelledby="dropdownUser2"
    >
      <li><a class="dropdown-item" href="/edit">Edit Profile</a></li>
      <li><a class="dropdown-item" href="/profile">Profile</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="/logout">Log out</a></li>
    </ul>
  </div>
</div>