
body {
    position: relative;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.profile-page .header,
.other-profile-page .header-other-profile
{
    display: flex;
    align-items: center;
    padding: 30px;
    margin-bottom: 30px;
    background-color: #2D5C6D;
    color: #FFFFFF;
    width: 100%;
}

.user-img {
    width: 200px;
    border-radius: 50%;
    margin-right: 50px;
}

.astral-description div i {
    padding-top: 5px;
    padding-right: 5px;
}

.astral-description div p {
    padding-right: 15px;
}

.profile-page .astral-card {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #050505;
    border-top: 1px solid #050505
}

.profile-page .astral-card div,
.explore-page,
.notifications-page
{
    display: flex;
    flex-direction: column;
}

.explore-page .astral-description>div i {
    padding-left: 10px;
}

.bigPostImages {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
}

.notification {
    border-bottom: 1px solid #050505;
    padding: 20px;
    width: 50vw;
}

.background-container {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/images/wallpapers/galaxy.jpeg");
    width: 100vw;
    height: 105vh;
    background-size: cover;
    color: white;
}

.navbar>.container {
    justify-content: flex-start;
}

#titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50;
    margin-bottom: auto;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Florethila', sans-serif;
}

#allContainer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-size: 30px;
    border-color: white;
    border-width: 30%;
    border-radius: 20%;
}

#allForm,
#form-edit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerForm,
.form-edit-container {
    width: 350px;
}

.title {
    font-size: 55px;
}

#form-edit {
    padding: 40px;
    margin-left: 300px
}

.edits-btn {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    font-size: 20px;
    margin-left: 300px;
    padding: 40px;
}

.container-post {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-left: 300px;
}