body {
    position: relative;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.btns-style {
    background-color: #2D5C6D;
    color:#FFFFFF
}

.sidebar {
    width: 280px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
}

.sidebar-title {
    font-family: 'Florethila', sans-serif;
    font-size: 30px;
    color: #2D5C6D;
}

.sidebar-links li a {
    color: #2D5C6D;
}

.sidebar-links li a:hover {
    color: #8FEBE0;
    font-weight: bolder;
    background-color: #FFFFFF;
}

.profile-page .header,
.other-profile-page .header-other-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 30px;
    background: rgb(45,92,109);
    background: linear-gradient(90deg, rgba(45,92,109,1) 0%, rgba(143,235,224,1) 50%, rgba(255,255,255,1) 100%);
    color: #FFFFFF;
    width: 100%;
}

.user-img {
    width: 200px;
    border-radius: 50%;
    margin-right: 50px;
}

.tl-user-img {
    width: 60px;
    border-radius: 50%;
    margin-right: 5px;
}

.astral-description div i {
    padding-top: 5px;
    padding-right: 5px;
}

.astral-description div p, 
.user-profile h4 {
    padding-right: 15px;
}

.profile-page .astral-card {
    text-align: center;
    padding: 20px;
    margin: 0 20px;
}

.profile-page .astral-card div {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 4px;
}

.profile-page .daily-advice {
    padding: 15px 5px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.profile-page .daily-advice div span {
    padding: 0 10px;
}

.profile-page .astral-card div,
.explore-page,
.notifications-page
{
    display: flex;
    flex-direction: column;
}

.explore-page .astral-description>div i {
    padding-left: 10px;
}

.bigPostImages {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
}

.notification {
    border-bottom: 1px solid #050505;
    padding: 10px;
    width: 50vw;
}

.background-container {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin: 0;
    min-height: 100vh;
    background-image: url("/images/wallpapers/galaxy.jpeg");
    background-size: cover;
    background-size: cover;
    color: white;
}

.navbar>.container {
    justify-content: flex-start;
}

#titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50;
    margin-bottom: auto;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Florethila', sans-serif;
}

.allContainer #titleContainer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-size: 30px;
    border-color: white;
    border-width: 30%;
    border-radius: 10px;
}

.allContainer #titleContainer .join-btn:hover {
    color: black;
    background-color: #FFFFFF;
}

#allForm,
#form-edit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerForm {
    width: 50vw;
}

.title {
    font-size: 55px;
}

#form-edit {
    padding: 40px;
    margin-left: 300px;
    background-image: linear-gradient(to right, white, #8FEBE0, white);
    width: 500px;
    height: 735px;
    margin-top: 0px;

}

.container-post {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-image: linear-gradient(to right, white, #8FEBE0, white);
}

.container-post h1 {
    margin-bottom: 20px;
}

.timeline-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
}

.stars-bg {
    background-image: url("/images/wallpapers/bg.png") ;
    background-position: center;
    background-size: cover;
}

.timeline-page h1 {
    margin: 20px 0;
    
}

.post-structure {
    padding: 15px;
    width: 50vw;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px 0;
}

.post-structure .post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-structure .user-profile {
    display: flex;
    align-items: center;
}

.post-structure .post-header .user-profile .user-info {
    display: flex;
    align-items: center;
}

.post-structure .post-content {
    display: flex;
    flex-direction: column;
} 

.compatibility-info {
    margin: 0 20px;
}

.expandable {
  background: #fff;
  overflow: hidden;
  color: #000;
  text-align: justify; 

  transition: all .5s ease-in-out;
  transform-origin: left top;
  transform: scaleY(0);
}

.expandable:target {
  transform: scaleY(1);
}

.compatibility-percentage {
    text-align: center;
    border: 3px #8FEBE0 solid;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

.wrapper a {
    display: block;
    width: fit-content;
    padding: 5px 10px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.wrapper a span,
.wrapper a i {
    position: relative;
    z-index: 2;
}

.wrapper a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #8FEBE0;
    transition: all .35s;
}

.wrapper a:hover {
    color: #fff;
}

.wrapper a:hover:after {
    width: 100%;
}

.search-btn {
    background-color: #8FEBE0;
    color:#FFFFFF
}

.search-btn:hover {
    color:#050505
}

@media screen and (max-width: 1050px) {
    .timeline-page .post-structure .post-header .user-profile {
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    .profile-page .header,
    .other-profile-page .header-other-profile {
        flex-direction: column-reverse;
    }
  }

@media screen and (max-width: 900px) {
    .timeline-page .post-structure {
        width: 60vw;
    }
}

@media screen and (max-width: 800px) {
    .profile-page .header .header-info,
    .other-profile-page .header-other-profile > div {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .profile-page .header .header-info div {
        margin-top: 10px;
    }

    .profile-page .header .header-info img,
    .other-profile-page .header-other-profile > div .user-img {
        margin: 10px 0;
    }

    .sidebar {
        width: 200px;
    }
}

@media screen and (max-width: 700px) {
    .containerForm {
        width: 60vw;
    }

    .post-btns {
        display: flex;
        flex-direction: column;
    }
  }

@media screen and (max-width: 600px) {
    .sidebar {
        width: 150px;
    }
}

@media screen and (max-width: 500px) {
    .containerForm {
        width: 70vw;
    }
}

@media screen and (max-width: 450px) {
    .sidebar {
        width: 100px;
    }

    .sidebar .sidebar-links li a::before {
        overflow: hidden;
    }
}