@import url('https://fonts.cdnfonts.com/css/comfort-zone');
@import url('https://fonts.cdnfonts.com/css/florethila');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/wallpapers/galaxy.jpeg");
    width: 100%;
    background-size: cover;
    color: white;
}

.navbar>.container {
    justify-content: flex-start;
}

#titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50;
    margin-bottom: auto;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Florethila', sans-serif;
}

.hidden {
    display: none !important;
}

#allContainer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-size: 30px;
    border-color: white;
    border-width: 30%;
    border-radius: 20%;


}

#allForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerForm {
    width: 350px;
}

.title {
    font-size: 55px;
}