<div class="d-flex gap-2">
  {{> sidebar}}

  <div class="explore-page stars-bg p-3" style="width: 100vw;">

    <form action="/explore" method="GET">
        <div class="input-group">
            <input type="search" name="search" class="form-control rounded" placeholder="See who's using AppSign!" aria-label="Search" aria-describedby="search-addon" />
            <button type="submit" class="btn search-btn">Search</button>
        </div>
    </form>

    <ul style="list-style:none">
        {{#each users as |user|}}
        {{> usersList}}
        {{/each}}
    </ul>
  </div>

</div>
