<div class="d-flex gap-2">
  {{> sidebar}}

  <div style="width: 100vw">
    <div class="container-post">
      <h1>Create a new post!</h1>
      <form action="/new-post" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <textarea placeholder="What are you thinking?" class="mb-4 form-control {{#if errors.body}}is-invalid{{/if}}" id="body" rows="3" name="body"></textarea>
          <div class="invalid-feedback">
            {{errors.body}}
          </div>
          <label for="image" class="form-label">Upload an Image</label>
          </br>
          <input type="file" id="image" name="image" accept="image/png, image/jpeg" />
        </div>
        <button style="background-color: #2D5C6D; color:#FFFFFF" type="submit" class="btn">Submit</button>
      </form>
    </div>
  </div>

</div>