
<div class="d-flex gap-2">

  {{> sidebar}}

  <div class="notifications-page stars-bg p-3" style="width: 100vw;">
  <h1>Notifications</h1>

    <ul style="list-style:none">
      {{#each notifications as |notification|}}
      {{#if notification.read}}
      <li style="background-color:#2D5C6D; border-radius:4px; color:#FFFFFF" class="notification"><strong>{{notification.message}}</strong></li>
      {{else}}
      <li class="notification">{{notification.message}}</li>
      {{/if}}
      {{else}}
      <p>You don't have any notifications yet :(</p>
      {{/each}}
      
    </ul>
  </div>

</div>