<div class="d-flex gap-2">

    {{> sidebar}}

    <div class="edits-btn ">
        <a type="button" class="btn btn-outline-info" aria-current="page" href="/edit">Edit profile</a>
        </br>
        <a type="button" class="btn btn-outline-info" aria-current="page" href="/editPassword">Edit password</a>
    </div>
</div>