<h1>Timeline</h1>

{{#each posts as |post|}}
<div>
  <img src="{{post.user.image}}" alt="User profile picture">
  <h4>{{post.user.firstName}}</h4>
</div>
<p>{{post.body}}</p>
{{#if post.image}}
<img src="{{post.image}}" alt="Post image">
{{/if}}
{{/each}}