<div class="AllContainer">
    <div class="titleContainer">
        <h1> Welcome to AppSign</h1>
        </br>
        <button id="Join-btn">Join Us! </button>
    </div>
    <div id="buttons-container" class="hidden">
        <img id="compatibility" src="Images/instruccionGameM.png" width="200%">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button">FriendShip</button>
            <button class="btn btn-primary" type="button">Love</button>
        </div>
    </div>