<div class="background-container">

    {{> navbar}}

    <div id="allContainer">
        <div id="titleContainer">
            <img id="imgTitle" src="/images/wallpapers/try3_horoscope.png" width="300px">
            <h1 class="title"> Welcome to AppSign</h1>
            <a type="button" class="btn" aria-current="page" href="/signup">Join Us</a>
        </div>

    </div>